@font-face {
    font-family: 'Machine';
    src: url('../font/MachineStd.otf');
    font-style: normal;
}

html {
    background: black;
}

body {
    font-family: 'Arial', sans-serif;
    background: #FF5200;
}

p {
    font-family: monospace;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    /* color: blue; */
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: lightblue;
    color: white;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: darkblue;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid white;
}

#sidebar ul p {
    color: white;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: black;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;

}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.drowdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

main  {
    width: 100%;
    /* background: #FF5200; */
    /* box-shadow: 0 0 50px 70px #FF5200; */
}

.jumbotron {
    background: black;
    color: #FF5200;
    font-family: 'Machine', sans-serif;
    font-size: 140px;
    max-height: 430px;
    
}

.about {
    background-image: linear-gradient(#FF5200, black 22%);
    height: 600px;
    padding: 140px;
    font-size: 60px;
    color: #FF5200;
    font-family: "Machine", sans-serif;
    text-align: left;
}
.about-me {
    min-height: 600px;
    background: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #6c757d;
    font-size: 28px;
    padding: auto;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 150px;
    text-shadow: 1px 1px 1px lightgray;
}
.projects {
    min-height: 600px;
    background: black;
    z-index: -20;
}
.pulse {
    /* #FF5200 */
    background: #FF5200;
    height: 6px;
    box-shadow: 0 0 50px 70px #FF5200;
    z-index: 100;
}
/* helloworld {
    position: absolute;
    z-index: 40;
} */
.lead {
    
    /* text-shadow: -1px 4px 2px rgba(255,82,0,0.6); */
}
h2 {
    border-top: 8px solid #6c757d;
    border-bottom: 8px solid #6c757d;
    font-family: 'Machine', sans-serif;
    font-size: 40px;
    position: relative;
    z-index: 50;
    background: black;
    color: #6c757d;
    /* box-shadow: -2px 1px 10px 2px #FF5200; */
    /* border-radius: 30%; */
}
.white {
    color:#FF5200;
    text-shadow: none;
}

#mycanvas {
    background: black;
    position: relative;
    top: -120px;
}


.blinking-cursor {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      color: #FF5200;
    }
    50% {
      color: black;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: #FF5200;
    }
    50% {
      color: black;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: #FF5200;
    }
    50% {
      color: black;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: #FF5200;
    }
    50% {
      color: black;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: #FF5200;
    }
    50% {
      color: black;
    }
  }